h1{color: purple;
size: 3cm;
margin: 5px;
}
 div{
    border:solid 6px red;
    border-radius: 6px;

    padding: 5px;
    margin: 3px;
}
 
div1{
border:solid 4px springgreen;
border-radius: 2px;
margin: 3px;
padding: 4px;
}

div2 { box-sizing: 23%;
    border:solid 4px  springgreen;
    border-radius: 2px;
    margin: 3px;
    padding: 4px;
    }

    div3{box-sizing: 23%;
        border:solid 4px  springgreen;
        border-radius: 2px;
        margin: 3px;
        padding: 4px;
        }

        div4 { box-sizing: 23%;
            border:solid 4px  springgreen;
            border-radius: 2px;
            margin: 3px;
            padding: 4px;
            }